body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  color: #FFF;
  background-color: #091353
}

#timer {
  text-align: center;
}

.status-display {
  font-size: 3rem;
}

#display {
  font-size: 250px;
  margin-bottom: 20px;
}

.control-group {
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  #display {
    font-size: 150px;
  }
}