body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  color: #FFF;
  background-color: #000;
}

#timer {
  text-align: center;
}

.current-time {
  font-size: 4rem;
  font-weight: bold;
  border-bottom: 1px solid #FFF;
}

.status-display {
  font-size: 4rem;
}

#display {
  font-size: 18rem;
  margin-bottom: 20px;
}

.control-group div {
  margin-bottom: 10px;
}

.control-group label {
  margin-right: 5px;
}

@media screen and (max-width: 768px) {
  #display {
    font-size: 6rem;
  }

  .control-group {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1501px) {
  .current-time, .status-display {
    font-size: 8rem;
  }

  #display {
    font-size: 32rem;
  }
}